.carousel.slide {
  position: relative;
  height: 92vh;
}

.carousel-item {
  height: 100%;
  width: 100vw;
}

.project-slide {
  height: 100%;
  width: 100%;
}

.carousel-indicators li {
  width: 4px;
  border-right: none;
  background-color: black;
}
