footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
}

h5 {
  font-size: 0.65rem;
  color: grey;
}

.navbar-center {
  justify-content: center;
}

footer a {
  color: black;
}

footer i {
  font-weight: 100;
  font-size: 14px;
  color: #3a3a3a;
}

footer li {
  border-right: none;
}

footer .navbar {
  height: min-content;
}
